In [ ]:
request_create_tables = """
DROP TABLE IF EXISTS capstone_module4.orders;
DROP TABLE IF EXISTS capstone_module4.customer;
DROP TABLE IF EXISTS capstone_module4.city;

CREATE TABLE IF NOT EXISTS capstone_module4.city (
  `id` INT NOT NULL AUTO_INCREMENT,
  `city_name` VARCHAR(45) NOT NULL,
  `country_name` VARCHAR(45) NOT NULL,
  `postal_code` VARCHAR(45) NOT NULL,
  `country_code` VARCHAR(45) NOT NULL,
  PRIMARY KEY (`id`)  -- Correction ici
);

CREATE TABLE IF NOT EXISTS capstone_module4.customer (
  `id` INT NOT NULL AUTO_INCREMENT,
  `customer_old_id` VARCHAR(45) NOT NULL,
  `customer_name` VARCHAR(45) NOT NULL,
  `city_id` INT NOT NULL,
  PRIMARY KEY (`id`),
  INDEX `city_id_fk_idx` (`city_id` ASC) VISIBLE,
  CONSTRAINT `city_id_2_fk`
    FOREIGN KEY (`city_id`)
    REFERENCES `capstone_module4`.`city` (`id`)  -- Correction ici
    ON DELETE CASCADE
    ON UPDATE CASCADE
);

    
CREATE TABLE IF NOT EXISTS capstone_module4.orders (
  `id` INT NOT NULL AUTO_INCREMENT,
  `order_id` VARCHAR(45) NULL,
  `order_date` DATETIME NULL,
  `delivery_date` DATETIME NULL,
  `costs` DECIMAL NULL,
  `sales` DECIMAL NULL,
  `quantity` INT NULL,
  `discount` DECIMAL NULL,
  `delivery_cost` DECIMAL NULL,
  `starter_name` VARCHAR(45) NULL,
  `desert_name` VARCHAR(45) NULL,
  `drink` VARCHAR(45) NULL,
  `slides` VARCHAR(45) NULL,
  `customer_id` INT NULL,
  PRIMARY KEY (`id`),
  INDEX `customer_id_fk_idx` (`customer_id` ASC) VISIBLE,
  CONSTRAINT `customer_id_2_fk`
    FOREIGN KEY (`customer_id`)
    REFERENCES `capstone_module4`.`customer` (`id`)
    ON DELETE CASCADE
    ON UPDATE CASCADE);
    


  """

:

In [ ]:
"""
  
INSERT INTO capstone_module4.city ( `city_name`, `country_name`, `postal_code`, `country_code`)
SELECT 
`City`,
`Country`,
`Postal Code`,
`Country Code`
FROM capstone_module4.data;

INSERT INTO capstone_module4.customer (`customer_old_id`, `customer_name`, `city_id`)
SELECT 
    d.`Customer ID`, 
    d.`Customer Name`, 
    c.`id`  -- Récupère l'ID de la ville
FROM capstone_module4.data d
JOIN capstone_module4.city c 
    ON d.`City` = c.`city_name` 
    AND d.`Country` = c.`country_name`;  -- S'assure que la correspondance est correcte


INSERT INTO capstone_module4.orders ( `order_id`, `order_date`, `delivery_date`, `costs`, `sales`, `quantity`, `discount`,
`delivery_cost`, `starter_name`, `desert_name`, `drink`, `slides`, `customer_id`)
SELECT 
d.`Order ID`, 
STR_TO_DATE(d.`Order Date`, '%d/%m/%Y'),  
STR_TO_DATE(d.`Delivery Date`, '%d/%m/%Y'),  
CAST(REPLACE(d.`Cost`, '.', ',') AS DECIMAL(10,2)), 
CAST(REPLACE(d.`Sales`, '.', ',') AS DECIMAL(10,2)), 
d.`Quantity`,
CAST(REPLACE(d.`Discount`, '.', ',') AS DECIMAL(5,2)), 
CAST(REPLACE(d.`Delivery Cost`, '.', ',') AS DECIMAL(10,2)),
d.`Starter Name`, 
d.`Desert Name`, 
d.`Drink`, 
d.`Sides`,
c.`id`
FROM capstone_module4.data d
JOIN capstone_module4.customer c;

"""